<header>
    <h3>Adding Author</h3>
</header>

<main>
    <div class="center">
        <div class="main-section">

            <h4>Fill the data below</h4>

            <form [formGroup] = "formAddAuthor">
                <label for="name">Name: </label>
                <input type="text" formControlName = "name" id="name" placeholder="Author`s name..">

                <label for="surname">Surname: </label>
                <input type="text" formControlName = "surname" id="surname" placeholder="Author`s surname..">

                <label for="patronymic">Patronymic: </label>
                <input type="text" formControlName = "patronymic" id="patronymic" placeholder="Author`s patronymic..">

                <label for="birth">Date of birth: </label>
                <input type="text" formControlName = "dateOfBirth" id="birth" placeholder="dd/mm/yyyy">

                <div class="book-pages-block" formArrayName = "books"
                    *ngFor = "let book of books.controls; let i = index;">

                    <div class = "red" [formGroupName] = "i">

                        <label for="book">Add book: </label>
                        <input formControlName = "bookName" type="text" id="book" placeholder="Author`s book..">
    
                        <!-- formControlName = "bookName" -->
    
                        <label for="pages">Add pages: </label>
                        <input formControlName = "bookPagesNum" type="text" id="pages" placeholder="Number of book`s pages..">
    
                        <!-- formControlName = "bookPagesNum"  -->
    
                        <p>Select genre of book</p>
                        <!-- formControlName = "bookGenre" -->
                        <select formControlName = "bookGenre">
                            <option *ngFor = "let genre of genres" #genreValue>{{genre.name}}</option>
                        </select>

                    </div>

                    <!-- <label for="book">Add book: </label>
                    <input  type="text" id="book" placeholder="Author`s book.."> -->

                    <!-- formControlName = "bookName" -->

                    <!-- <label for="pages">Add pages: </label>
                    <input type="text" id="pages" placeholder="Number of book`s pages.."> -->

                    <!-- formControlName = "bookPagesNum"  -->

                    <p>Select genre of book</p>
                    <!-- formControlName = "bookGenre" -->
                    <!-- <select>
                        <option *ngFor = "let genre of genres" #genreValue>{{genre.name}}</option>
                    </select> -->

                </div>

                <input class = "add-new-book" type="button" value="Add new book" (click) = "addBook()">

                <input class = "add-new-author" type="button"
                        value="Add author" [disabled] = "formAddAuthor.invalid">

                <pre> {{formAddAuthor.value | json}} </pre>
            </form>
        </div>
    </div>
</main>