<header>
    <h3 *ngIf = "!isEditing">Adding Author</h3>
    <h3 *ngIf = "isEditing" style = "color: green;">Editing Author</h3>
</header>

<main>
    <div class="center">
        <div class="main-section">

            <h4 *ngIf = "!isEditing">Fill the data below</h4>
            <h4 *ngIf = "isEditing">Edit the data below</h4>

            <form 
                #formVariable = "ngForm" 
                [formGroup] = "formAddAuthor" 
                (ngSubmit) = "submitData(formAddAuthor); formVariable.resetForm()">

                <label for="name">Name: </label>
                <input type="text" formControlName = "name" id="name" placeholder="Author`s name..">

                <label for="surname">Surname: </label>
                <input type="text" formControlName = "surname" id="surname" placeholder="Author`s surname..">

                <label for="patronymic">Patronymic: </label>
                <input type="text" formControlName = "patronymic" id="patronymic" placeholder="Author`s patronymic..">

                <label for="birth">Date of birth: </label>
                <input type="text" formControlName = "birthDate" id="birth" placeholder="dd/mm/yyyy">

                <div formArrayName = "books"
                    *ngFor = "let book of books.controls; let i = index;">

                    <div class = "book-pages-block" [formGroupName] = "i">

                        <label for="book">Book:</label>
                        <input formControlName = "bookName" type="text" id="book" placeholder="Name of the book..">
    
                        <label for="pages">Number of pages:</label>
                        <input formControlName = "bookPagesNum" type="text" id="pages" placeholder="Number of book`s pages..">
    
                        <p>Genre of the book</p>
                    
                        <select formControlName = "bookGenre">
                            <option hidden>Select genre...</option>
                            <option *ngFor = "let genre of genres" #genreValue>{{genre.name}}</option>
                        </select>

                        <!-- <div *ngIf = "specificAuthor">
                            {{specificAuthor!.books[i].bookGenre}}
                        </div> -->
                        

                        <input *ngIf = "i != 0"
                            (click) = "deleteBook(i)" class = "delete-button" type="button" id="pages" value = "Delete">

                    </div>

                </div>

                <input class = "add-new-book" type="button" value="Add new book" (click) = "addBook()">

                <input *ngIf = "!isEditing" [disabled] = "formAddAuthor.invalid" class = "add-new-author" type="submit"
                        value="Add author" >

                <input *ngIf = "isEditing" [disabled] = "formAddAuthor.invalid" class = "save-changes" type="submit"
                        value="Save changes" >

                <div class="blank" style = "display: none;">
                    New author has been successfully added!
                </div>

                <!-- <pre> {{formAddAuthor.value | json}} </pre> -->
            </form>

        </div>
    </div>
</main>