@font-face {
    font-family: AlatsiRegular;
    src: url('../../fonts/alatsi_regular.ttf');
}

@font-face {
    font-family: FrederickaGreat;
    src: url('../../fonts/FrederickatheGreat-Regular.ttf');
}

@font-face {
    font-family: ElegantTypewriter;
    src: url('../../fonts/elegant_typewriter_regular.ttf');
}

@font-face {
    font-family: CutiveRegular;
    src: url('../../fonts/Cutive-Regular.ttf');
}

header {
    font-family: AlatsiRegular, sans-serif;
    text-align: center;
    font-size: 35px;
    margin: 30px auto;
}

main {
    font-family: CutiveRegular, sans-serif;
}

.center {
    margin: 0 auto;
    width: 60%;
    height: auto;
}

.main-section {
    background: #f2f2f2;
    padding: 40px;
    margin-bottom: 10%;
    position: relative;
    /* Styles to distinguish sheets from one another */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    border: 1px solid #bbb;
}

main form {
    display: grid;
}

h4 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: CutiveRegular;
}

input[type='text'] {
    height: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: ElegantTypewriter;
    font-size: 16px;
}

input[type=button] {
    font-family: AlatsiRegular;  
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=button]:hover {
    cursor: pointer;
}

input[type=button].add-new-book {
    background-color: #0f87ff;
    width: 30%;
    margin: 40px auto 20px auto;
    height: 40px;
    font-size: 18px;
}

input[type=button].add-new-book, input[type=button].add-new-author {
    color: white;
    border: 1px solid #05509b;
    border-radius: 3px;
    transition: -ms-transform .3s, -webkit-transform .3s, transform .3s;
}

input[type=button].add-new-author {
    background-color: #0A66C2;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
}

input[type=button].add-new-author:hover, input[type=button].add-new-book:hover {
    background-color: #08519b;
}

input[type=button].add-new-author:active, input[type=button].add-new-book:active {
    
    transform: scale(.90);
}

.book-pages-block {
    border: 2px dashed black;
    margin-top: 20px;
    padding: 20px;
    display: grid;
}

.book-pages-block p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.book-pages-block select {
    margin-top: 10px;
    background-color: #0f87ff;
    color: white;
    padding: 12px 12px 12px 5px;
    border: 2px solid #05509b;
    font-size: 15px;
    cursor: pointer;
}

.book-pages-block select {
    font-family: ElegantTypewriter;
} 

input[type=text].ng-invalid {
    border: 1px solid red;
}

@media screen and (max-width: 1024px) {
    input[type=button].add-new-book {
        width: 50%;
    }
}

@media screen and (max-width: 860px) {

    input[type=button].add-new-book {
        width: 60%;
    }

    .center {
        width: 90%;
    }
    
}

@media screen and (max-width: 666px) {
    h4 {
        font-size: 25px;
    }

}

@media screen and (max-width: 480px) {

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 20px;
    }

    .center {
        width: 100%;
    }

    .main-section {
        margin-bottom: 0;
    }

}
