<header>
    <h3>Adding Author</h3>
</header>

<main>
    <div class="center">
        <div class="main-section">

            <h4>Fill the data below</h4>

            <form>
                <label for="name">Name: </label>
                <input type="text" name="" id="name" placeholder="Author`s name..">

                <label for="surname">Surname: </label>
                <input type="text" name="" id="surname" placeholder="Author`s surname..">

                <label for="patronymic">Patronymic: </label>
                <input type="text" id="patronymic" placeholder="Author`s patronymic..">

                <label for="birth">Date of birth: </label>
                <input type="text" id="birth" placeholder="Author`s date of birth..">

                <div class="book-pages-block">
                    <label for="book">Add book: </label>
                    <input type="text" id="book" placeholder="Author`s book..">

                    <label for="pages">Add pages: </label>
                    <input type="text" id="pages" placeholder="Number of book`s pages..">

                    <p>Select genre of book</p>
                    <select>
                        <option *ngFor = "let genre of genres">{{genre.name}}</option>
                    </select>

                </div>

                <input class = "add-new-book" type="button" value="Add new book">

                <input class = "add-new-author" type="button" value="Add author">
            </form>
        </div>
    </div>
</main>