<section class = "intro-wrap">
    
        <div class="center intro-text">
            <h1>V.S. Library</h1>
            <span class = "quote">Today`s knowledge, tommorow`s power</span>
        </div>

</section>

<section class = "books-container">
    <div class = "center">
        <h3>List of our authors & books</h3>

        <!-- Make this using table and FlexBox or Grid for responsive design -->
        <!-- https://www.w3schools.com/css/css_table.asp -->

        <table class = "authors-table">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Patronymic</th>
                <th>Date of birth</th>
                <th>Books</th>
                <th>Options</th>
            </tr>
            <tr class = "author-data" *ngFor = "let author of authors">
                <td> {{author.name}}</td>
                <td> {{author.surname}}</td>
                <td> {{author.patronymic}}</td>
                <td> {{author.birthDate}}</td>
                <td> 
                    <ul>
                        <li *ngFor = "let book of author.booksList">{{book}}</li>
                    </ul>
                </td>
                <td>
                    <button>Edit</button>
                    <button (click) = "deleteAuthor(author.id)">Delete</button>
                </td>

            </tr>
        </table>

        <div class="a-buttons">
            <!-- <a routerLink = "addAuthor">Add new author</a>
            <a routerLink = "editGenres">Edit genres</a> -->
            <a>Add new author</a>
            <a>Edit genres</a>
        </div>

    </div>
</section>

<footer></footer>

