@font-face {
    font-family: AlatsiRegular;
    src: url('../../../fonts/alatsi_regular.ttf');
}

@font-face {
    font-family: Amperzand;
    src: url('../../../fonts/Amperzand.ttf');
}

section.intro-wrap {
    height: 100vh;
    width: 100wh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)) , url('../../../assets/main_picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    /*border: 1px solid red;*/
    
}

.intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, .quote {
    margin: 0;
    padding: 0;
    color: white;
    
}

h1 {
    font-size: 180px;
}

h1, h3 {
    font-family: AlatsiRegular, Arial, Helvetica, sans-serif;
}

.quote {
    font-size: 45px;
    font-family: Amperzand, Arial, Helvetica, sans-serif;
}

.books-container {
    color: white;
    /*background-color: #ab9393;*/
    background-color: hsl(355, 19%, 38%);
    /*height: auto;*/
    height: auto;
}

.books-container h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
}

.book-item {
    border: 1px solid red;
}

.authors-table {
    margin-top: 30px;
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
}

.authors-table td, .authors-table th {
    border: 1px solid white;
}

.authors-table th {
    padding: 20px;
    background-color: #645968;
}

.authors-table td {
    text-align: center;
}

.authors-table tr:nth-child(even) {
    
}

.authors-table li {
    list-style-type: none;
}

.authors-table ul {
    padding-left: 0;
}

.authors-table button {
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}


