<section class="intro-wrap">

    <div class="center intro-text up-down-border">
        <h1>V.S. Library</h1>
        <span class="quote">Today`s knowledge, tommorow`s power</span>
    </div>

</section>

<section class="books-container">

    <div class="modal-wrapper">

        <div (click)="toggle($event)" class="modal-window">
            <div class="modal-window-body">

                <h4 class="modal-author-fullname" *ngIf = "tableAuthor">
                    {{tableAuthor.surname}} {{tableAuthor.name}} {{tableAuthor.patronymic}}
                </h4>

                <p class="modal-date-of-birth"></p>

                <table class = "modal-table">

                    <tr>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Num of Pages</th>
                    </tr>

                    <tr class="modal-tr-books" *ngFor = "let book of trBooks">
                        <td>{{book.bookName}}</td>
                        <td>{{book.bookGenre}}</td>
                        <td>{{book.bookPagesNum}}</td>
                    </tr>

                </table>

                <button class = 'modal-close'(click)="closeModalWindow()">Close</button>

            </div>
        </div>

        <div class="modal-window-background"></div>

    </div>

    <div class="center">
        <h3>List of our authors & books</h3>

        <div class="sort-search-wrap">

            <div class="list-sorting">
                <!-- <select (change) = "selectOptionHandler($event.target)"> -->
                <!-- <select class = "sort-method-selection"> -->
                <select (change)="selectOptionHandler($event)">
                    <option hidden>Sort by...</option>
                    <option value="name">Sort by name</option>
                    <option value="surname">Sort by surname</option>
                    <option value="patronymic">Sort by patronymic</option>
                    <option value="birthDate">Sort by date of birth</option>
                    <option value="books">Sort by amount of books</option>
                </select>
            </div>

            <label for="searchField">
                Type book`s name: <input [(ngModel)]="searchBookName" type="search" name="searchField" id="searchField"
                    (input)="searchBook()">
            </label>

        </div>

        <!-- Make this using table and FlexBox or Grid for responsive design -->
        <!-- https://www.w3schools.com/css/css_table.asp -->

        <table class="authors-table">
            <thead>
                <th >Name</th>
                <th >Surname</th>
                <th >Patronymic</th>
                <th >Date of birth</th>
                <th >Books</th>
                <th >Options</th>
            </thead>
            
            <tbody>
                <tr class="author-data" *ngFor="let author of authors">
                    <td data-label="Name" class="name"> {{author.name}}</td>
                    <td data-label="Surname" class="surname"> {{author.surname}}</td>
                    <td data-label="Patronymic" class="patronymic"> {{author.patronymic}}</td>
                    <td data-label="Date of birth" class="birthDate"> {{author.birthDate}}</td>
                    <td data-label="Books" class="books">
                        <div>
                            <ul>
                                <li *ngFor="let book of author.books; let i = index"><span>{{book.bookName}}</span></li>
                            </ul>
                        </div>
    
                    </td>
                    <td data-label="Options">
                        <!-- <button routerLink = "editAuthorData" (click) = "authorIdHandler(author.id)">Edit</button> -->
                        <button (click)="authorIdHandler(author.id)">Edit</button>
                        <button (click)="deleteAuthor(author.id)">Delete</button>
                        <button (click)="openModalWindow(author.id)">Details</button>
                    </td>
    
                </tr>
            </tbody>
            
        </table>

        <div *ngIf="isBookFound" class="book-not-found">Not found!</div>
        <div *ngIf="isTableEmpty" class="loading">Authors and books are loading...</div>

        <div class="a-buttons">
            <!-- <a routerLink = "addAuthor">Add new author</a>
            <a routerLink = "editGenres">Edit genres</a> -->
            <a routerLink="addAuthor">Add new author</a>
            <a routerLink="editGenres">Edit genres</a>
        </div>

    </div>
</section>


<footer></footer>