<section class = "intro-wrap">
    
        <div class="center intro-text">
            <h1>V.S. Library</h1>
            <span class = "quote">Today`s knowledge, tommorow`s power</span>
        </div>

</section>

<section class = "books-container">
    <div class = "center">
        <h3>List of our authors & books</h3>

        <!-- Make this using table and FlexBox or Grid for responsive design -->
        <!-- https://www.w3schools.com/css/css_table.asp -->
        <div class="book-item" *ngFor = "let author of authors; let i = index">
            
            <p>Name: {{author.name}}</p>
            <p>Surname: {{author.surname}}</p>
            <p>Patronymic: {{author.patronymic}}</p>
            <p>Date of birth: {{author.birthDate}} </p>
            <p>
                List of books: 
                <li *ngFor = "let book of author.booksList">{{book}}</li>
            </p>
            <p>ID of author: {{i}}</p>
            <button (click) = "deleteAuthor(author.id)">Delete</button>
        </div>

        <a routerLink = "addAuthor" routerLinkActive = "active">Add new author</a>
        <a>Edit genres</a>

    </div>
</section>

<footer></footer>

