<header>
    <h3>Editing Author & Books</h3>
</header>

<main>
    <div class="center">
        <div class="main-section">

            <h4>Change the data below</h4>

            <form>

                <div *ngIf = "specificAuthor != undefined">
                    Name: {{specificAuthor.name}}
                    <br>
                    Surname: {{specificAuthor.surname}}
                </div>

                <!-- <pre> {{formAddAuthor.value | json}} </pre> -->
            </form>
        </div>
    </div>
</main>
