<header>
        <h3>Genres Editing</h3>   
</header>

<main>

    <div class="center">
        <div class="main-section">

            <form #formGenres_react = "ngForm" [formGroup] = "formGenresGroup">
                <label class="input-title" for="genreInputField">Type new genre or Edit an existing one</label>
                <input 
                    class="main-input" 
                    #genreInputField 
                    type="text" 
                    id="genreInputField"
                    formControlName = "genre"
                >

                <div class = "main-input-error" 
                    *ngIf = "formGenresGroup.get('genre')?.invalid">
                    Input field cannot have less, than 4 symbols!
                </div>

                <div class = "main-input-error empty" style = "display: none">
                    Input field cannot be empty!
                </div>

                <div class="add-edit-btnDiv">
                    <input 
                        type = "button" 
                        (click)="addGenre(genreInputField.value)" 
                        [disabled] = "formGenresGroup.invalid"
                        value = "Add new genre"
                        
                    >
                    
                    <input 
                        (click) = "finishEditGenre(genreInputField.value)" 
                        type = "button" 
                        value = "Save edited"
                    >
                </div>
            </form>

            <div class="genre-card" *ngFor="let genre of genres">
                <span>{{genre.name}}</span>

                <button (click) = "startEditGenre(genre, genreInputField)">Edit</button>
                <button (click) = "deleteGenre(genre.id)">Delete</button>
            </div>

        </div>

    </div>

</main>